header{
    background-color: rgb(42, 42, 42);
    height: 100px;
}

body{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.left {
    background-color: beige;
    width: 100px;
    height: 600px;
    position: relative;
    z-index: 2;
}

.center{
    background-color: white;
}

.right{
    background-color: beige;
    width: 100px;
    height: 600px;
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 2;
}

footer{
    background-color: black;
    position: fixed;
    bottom: 0px;
    left: 100px;
    width: 590px;
    height: 100px;
    z-index: 1;
}

